.main {
    background-color: #f0f2f5;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

@media only screen and (max-width: 900px) {
    .main {
        grid-template-columns: 1fr;
    }
}

.main-left {
    margin-top: 60px;
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 80px;
}
.main-left-sub-header {
    margin-bottom: 30px;
}
.main-left h2 {
    color: #6442fb;
    margin-bottom: 15px;
}
.main-right {
    background-color: white;
    padding: 10px 25px;
}
.main-right img {
    width: 18%;
}

@media only screen and (max-width: 900px) {
    .main-right {
        display: none;
    }
}

.userInfo {
    background-color: #f0f2f5;
    border-radius: 9px;
    padding: 10px 5px;
}
.breakTime {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #6442fb;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m {
    margin-top: 40px;
}

.burgerBtn {
    position: absolute;
    right: 50px;
    top: 50px;
    border: none;
    display: none;
}

@media only screen and (max-width: 900px) {
    .burgerBtn {
        display: block;
    }
}

.burgerBtn svg {
    height: 45px;
    width: 45px;
}

.sidebar {
    z-index: 100;
    background-color: #fff;
    width: 300px;
    height: 100vh;
    padding: 10px 25px;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.sidebar img {
    width: 15%;
}

.btnClose {
    margin-bottom: 10px;
    border: 2px solid #6442fb;
    border-radius: 5px;
}

.btnClose svg {
    fill: #6442fb;
    height: 30px;
    width: 30px;
}
